html {
    background-color: #f2f2f2;
}

.page-header {
    text-align: center;
    background-color: #f2f2f2;
    margin: 0 !important;
    border: 1px solid #f2f2f2;
}

.nav {
    background-color: lightgray;
}

.row {
    background-color: #f2f2f2;
}

.product_image {
    height: 200px;
    width: 200px;
}

#mp_logo {
    height: 100px;
    width: auto;
}

section, aside {
    padding: 15px;
    margin-left: 20px;
    background-color: lightgrey;
    border: 1px solid grey;
    text-align: center;
}